/* common styles */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  color: white;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.gap {
  gap: 16px;
}

.gap-sm {
  gap: 8px;
}

.gap-lg {
  gap: 20px;
}

.px {
  padding-left: 16px;
  padding-right: 16px;
}

.py {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* specific styles */
.menu-wrapper {
  background: rgb(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 16px;
}

.menu {
  background: rgb(0, 0, 0, 0.4);
  border-radius: 16px;
}

.bt {
  border-top: 1px solid rgb(255, 255, 255, 0.2);
}

.dropdown li {
  cursor: pointer;
}

.dropdown li:hover {
  background: rgb(0, 0, 0, 0.2);
}

.icon-wrapper {
  padding: 4px 8px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 4px;
}

.controls-tab {
  border-radius: 0 0 16px 16px;
  background: rgb(0, 0, 0, 0);
}

.width-1 {
  width: 100%;
}

.search-bar {
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.87);
}
